<h1>Days</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Score</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @days.each do |day| -%>
   <tr>
    	<td><%= day.id %></td>
    	<td><%= day.date %></td>
        <td><%= day.score %></td>
    <td>
      <%= link_to "Show", day_path(day) %>
      <%= link_to "Edit", edit_day_path(day) %>
      <%= link_to "Destroy", day_path(day), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_day_path, :class => 'btn btn-primary' %>
